<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915266194561-qfl40nsjc2cugv0kjct5nfudqva4nkkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915266194561-qfl40nsjc2cugv0kjct5nfudqva4nkkv</string>
	<key>API_KEY</key>
	<string>AIzaSyAXgL54tmT1PCsHCqIi6SY-vbTtd5kdCBc</string>
	<key>GCM_SENDER_ID</key>
	<string>915266194561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>itstep.jumys</string>
	<key>PROJECT_ID</key>
	<string>jumys-8435f</string>
	<key>STORAGE_BUCKET</key>
	<string>jumys-8435f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915266194561:ios:c5eb0eaa0be7ef2e8c1180</string>
</dict>
</plist>